.logo-mario{
    width: 200px;
}

button{
    background-color: #c51111;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-luigi-mario {
    height: 500px;
}

.div-1{
    background-color: red;
}

.div-2{
    background-color: green;
}

body{
    display: flex;
}